.exchange-wrap{
    width: 100%;
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    .exchange-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 1200px;
        height: 60%;
        background-color: #D9E4DD;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        margin: 0 10px;
        gap: 35px;
        position: relative;
        
        .exchange-item-wrap{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-basis: 450px;
            height: 50%;
            background-color: #FBF7F0;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            margin: 25px 10px;
            padding: 20px 15px 10px 15px;
            gap: 10px;
        }
    }
}
.input-wrap{
    display: flex;
    max-width: 250px;
    margin: 0 15px 0 15px;
}
.select-wrap{
    display: flex;
    justify-content: end;
    max-width: 130px;
    margin: 0 15px 0 15px;
}
@media screen and (max-height: 680px) {
    .exchange-container{
        background-color: transparent !important;
        box-shadow: none !important;
        .exchange-item-wrap{
            background-color: #D9E4DD !important;
        }
    }
}
@media screen and (max-Width: 1024px){
    .exchange-container{
        flex-direction: column;
        gap: 0px !important;
    }
}
@media screen and (max-width: 574px) {
    .exchange-container{
        height: 80% !important;  
        
    }
    .input-wrap{
        max-width: 130px;
    }
    .exchange-wrap{
        height: 92%;
        .exchange-item-wrap{
            flex-direction: column;
            height: 30% !important;
            padding-top: 30px !important;
        }
    }
}